<html ng-app="movieApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
    <script src="actorCtrl.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron" ng-controller="actorCtrl">
            <h1 class="text-center">Gallery of actors</h1>
            <h2>search:<input ng-model="query.first"></h2>
            <h2 ng-click="order()"> sort :</h2>
          <div class="row">
                <div ng-repeat="actor in actors | filter:query | orderBy:orderProp" class="column col-xs-12 col-sm-10 col-md-5 col-lg-4">
                    <a href={{actor.link}} target="_blank">
                        <img src={{actor.img}} alt="" /> 
                        {{actor.first+' '+actor.last}}
                    </a>
                </div>
            </div>
         </div>
    </div>

</body>

</html>